stages:
  - build
  - test
  - delete

### Global Vars
variables:
  DOCKER_DRIVE: overlay2



### Job Templates

.docker_base: &docker_base
  stage: build
  image: docker:latest
  services:
    - docker:dind

.prod_docker_publish: &prod_docker_publish
  <<: *docker_base
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest

.mr_docker_publish: &mr_docker_publish
  <<: *docker_base
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
  tags:

# .mr_delete: &mr_delete
#   stage: delete
#   image: docker:latest
#   services:
#     - docker:dind
#   script:
#     - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
#     - docker rmi $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME
#   except:
#     changes:
#       - "*.md"
#   only:
#     refs:
#       - branches
#   when: manual

### Jobs

# Data Image
mr_data_build:
  <<: *mr_docker_publish
  variables:
    IMAGE_NAME: data-image
  before_script:
    - cd data_image
  only:
    refs:
      - branches
    changes:
      - data_image/*
  except:
    changes:
      - "*.md"

# mr_data_delete:
#   <<: *mr_delete
#   variables:
#     IMAGE_NAME: data-image
#   before_script:
#     - cd data_image

prod_data_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: data-image
  before_script:
    - cd data_image
  only:
    refs:
    - master
    - triggers
    - web

# Airflow Image
mr_airflow_build:
  <<: *mr_docker_publish
  variables:
    IMAGE_NAME: airflow-image
  before_script:
    - cd airflow_image
  only:
    refs:
      - branches
    changes:
      - airflow_image/*
  except:
    changes:
      - "*.md"

# mr_airflow_delete:
#   <<: *mr_delete
#   variables:
#     IMAGE_NAME: airflow-image
#   before_script:
#     - cd data_image

prod_airflow_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: airflow-image
  before_script:
    - cd airflow_image
  only:
    refs:
      - master

# dbt Image
mr_dbt_build:
  <<: *mr_docker_publish
  variables:
    IMAGE_NAME: dbt-image
  before_script:
    - cd dbt_image
  only:
    refs:
      - branches
    changes:
      - dbt_image/*
  except:
    changes:
      - "*.md"

# mr_data_delete:
#   <<: *mr_delete
#   variables:
#     IMAGE_NAME: data-image
#   before_script:
#     - cd data_image

prod_dbt_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: dbt-image
  before_script:
    - cd dbt_image
  only:
    refs:
      - master
