stages:
  - build
  - test
  - delete

### Global Vars
variables:
  DOCKER_DRIVE: overlay2



# ======
# Templates
# ======

.docker_base: &docker_base
  stage: build
  image: docker:latest
  services:
    - docker:dind

.prod_docker_publish: &prod_docker_publish
  <<: *docker_base
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:latest

.mr_docker_publish: &mr_docker_publish
  <<: *docker_base
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build -t $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME .
    - docker push $CI_REGISTRY_IMAGE/$IMAGE_NAME:$CI_COMMIT_REF_NAME

.mr_delete: &mr_delete
  stage: delete
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker images | grep $CI_COMMIT_REF_NAME | awk '{print $1 ":" $2}' | xargs docker rmi
  except:
    changes:
      - "*.md"
  only:
    refs:
      - merge_requests
  when: manual

testing:
  stage: test
  image: docker:latest
  script:
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker images
  only:
    refs:
      - merge_requests
  when: manual


# ======
# Data Image
# ======
mr_data_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: data-image
  before_script:
    - cd data_image
  only:
    refs:
      - merge_requests
    changes:
      - data_image/*
  except:
    changes:
      - "*.md"

prod_data_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: data-image
  before_script:
    - cd data_image
  only:
    refs:
      - master
      - triggers
      - web


# ======
# Airflow Image
# ======
mr_airflow_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: airflow-image
  before_script:
    - cd airflow_image
  only:
    refs:
      - merge_requests
    changes:
      - airflow_image/*
  except:
    changes:
      - "*.md"

prod_airflow_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: airflow-image
  before_script:
    - cd airflow_image
  only:
    refs:
      - master
  except:
    refs:
      - triggers
      - web


# ======
# dbt Image
# ======
mr_dbt_build:
  <<: *mr_docker_publish
  environment:
    name: review/$CI_COMMIT_REF_NAME
    on_stop: mr_image_delete
  variables:
    IMAGE_NAME: dbt-image
  before_script:
    - cd dbt_image
  only:
    refs:
      - merge_requests
    changes:
      - dbt_image/*
  except:
    changes:
      - "*.md"

prod_dbt_publish:
  <<: *prod_docker_publish
  variables:
    IMAGE_NAME: dbt-image
  before_script:
    - cd dbt_image
  only:
    refs:
      - master
  except:
    refs:
      - triggers
      - web

# ======
# Delete Images
# ======
mr_image_delete:
  <<: *mr_delete
  environment:
    name: review/$CI_COMMIT_REF_NAME
    action: stop
  variables:
    GIT_STRATEGY: none