boto3<1.8
clearbit
configparser
dbt>=0.12
fire
google-cloud-storage
gspread
ipwhois
lxml
oauth2client
pandas
psycopg2-binary
pytest
requests
simple-salesforce
snowflake-sqlalchemy
tldextract
toolz
zeep
