boto3==1.7.84
certifi==2018.8.24
chardet==3.0.4
clearbit==0.1.7
configparser==5.0.0
fire==0.1.3
flatten-dict==0.3.0
gitlabdata==0.3.6
google==2.0.3
google-api-core==1.19.1
google-api-python-client==1.11.0
google-auth==1.16.1
google-cloud-bigquery==1.24.0
google-cloud-core==1.3.0
google-cloud-storage==1.28.1
grpcio==1.30.0
gspread==3.1.0
gspread_dataframe==3.0.2
henry==0.1.1
idna==2.7
ipwhois==1.1.0
ipython==7.14.0
keyrings.alt==3.4.0
lxml==4.5.0
numpy==1.15.2
oauth2client==4.1.3
orca==1.5.3
pandas==0.25.3
psycopg2-binary==2.7.5
pyasn1-modules==0.2.8
PyBambooHR==0.7.1
pylint==2.3
pytest==5.0.0
python-dateutil==2.8.1
pytz==2019.3
PyYAML==5.4.1
remarshal==0.10.0
requests==2.22.0
salesforce-bulk==2.1.0
simple-salesforce==1.1.0
six==1.13.0
slackclient==2.5.0
snowflake-connector-python==2.1.3
snowflake-sqlalchemy==1.2.0
sql-metadata==1.11.0
sqlparse==0.4.1
tldextract==2.2.2
toolz==0.10.0
urllib3==1.23
xenon==0.7
zeep==3.4.0
