aiohttp==3.6.2
appdirs==1.4.4
asn1crypto==1.3.0
astroid==2.4.2
async-timeout==3.0.1
atomicwrites==1.4.0
attrs==19.3.0
Authlib==0.14.3
azure-common==1.1.25
azure-storage-blob==2.1.0
azure-storage-common==2.1.0
backcall==0.2.0
backoff==1.3.2
beautifulsoup4==4.9.1
boto3==1.7.84
botocore==1.10.84
cached-property==1.5.1
cachetools==4.1.0
certifi==2018.8.24
cffi==1.13.2
chardet==3.0.4
clearbit==0.1.7
colorama==0.4.1
configparser==5.0.0
cryptography==2.9.2
decorator==4.4.2
defusedxml==0.6.0
dnspython==1.16.0
docutils==0.16
fire==0.1.3
flake8==3.8.3
flake8-polyfill==1.0.2
future==0.18.2
gitlabdata==0.2.0
google==2.0.3
google-api-core==1.19.1
google-auth==1.16.1
google-cloud-bigquery==1.24.0
google-cloud-bigquery-storage==1.0.0
google-cloud-core==1.3.0
google-cloud-storage==1.28.1
google-resumable-media==0.5.1
googleapis-common-protos==1.52.0
grpcio==1.30.0
gspread==3.1.0
gspread-dataframe==3.0.2
henry==0.1.1
httplib2==0.18.1
idna==2.7
ijson==2.6.1
importlib-metadata==1.6.1
ipwhois==1.1.0
ipython==7.14.0
ipython-genutils==0.2.0
isodate==0.6.0
isort==4.3.21
jedi==0.17.1
jmespath==0.10.0
jsonschema==2.6.0
keyrings.alt==3.4.0
lazy-object-proxy==1.4.3
lxml==4.5.0
mando==0.6.4
mccabe==0.6.1
mock==2.0.0
more-itertools==8.4.0
multidict==4.7.6
numexpr==2.7.1
numpy==1.15.2
oauth2client==4.1.3
orca==1.5.3
oscrypto==1.2.0
packaging==20.4
pandas==0.25.3
parso==0.7.0
pbr==5.4.5
pexpect==4.8.0
pickleshare==0.7.5
plotly==4.8.1
pluggy==0.13.1
prompt-toolkit==3.0.5
protobuf==3.12.2
psutil==5.3.1
psycopg2-binary==2.7.5
ptyprocess==0.6.0
py==1.8.2
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyBambooHR==0.7.1
pycodestyle==2.6.0
pycparser==2.20
pycryptodomex==3.9.7
pyflakes==2.2.0
Pygments==2.6.1
PyJWT==1.7.1
pylint==2.3.0
pyOpenSSL==19.1.0
pyparsing==2.4.7
pytest==5.0.0
python-dateutil==2.8.1
pytoml==0.1.21
pytz==2019.3
PyYAML==5.1
radon==4.1.0
remarshal==0.10.0
requests==2.22.0
requests-file==1.5.1
requests-toolbelt==0.9.1
retrying==1.3.3
rsa==4.0
s3transfer==0.1.13
salesforce-bulk==2.1.0
simple-salesforce==1.1.0
simplejson==3.11.1
singer-python==5.0.15
six==1.13.0
slackclient==2.5.0
snowflake-connector-python==2.1.3
snowflake-sqlalchemy==1.2.0
soupsieve==2.0.1
SQLAlchemy==1.3.17
tables==3.6.1
tabulate==0.8.7
target-stitch==1.8.1
tldextract==2.2.2
toolz==0.10.0
tqdm==4.46.1
traitlets==4.3.3
typed-ast==1.4.1
unicodecsv==0.14.1
urllib3==1.23
wcwidth==0.2.5
wrapt==1.12.1
xenon==0.7.0
xmltodict==0.12.0
yarl==1.4.2
zeep==3.4.0
zipp==3.1.0